.about{
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--rose);
}

.about h1{
	color: var(--crimson-dark);
	margin: 0
}

.list-sections{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media (max-width: 1180px) {
	.list-sections{
		flex-direction: column;
	}
}

@media (max-width: 450px) {
	.about h1{
		font-size: 1.9rem;
	}
	
}