.about{
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	color: var(--rose);
	overflow: auto;
}

.about h1{
	color: var(--crimson-dark);
	margin: 0
}

.about-images{
	display: flex;
	justify-content: space-evenly;
}

.about-images img{
	width: 30vw;
	border-radius: 15px;
	min-width: 300pxs;
}

.list-sections{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media (max-width: 1100px) {
	.list-sections{
		flex-direction: column;
	}
}

@media (max-width: 450px) {
	.about h1{
		font-size: clamp(1.5rem, 8vw, 2.5rem);
	}
	
}