.introduction {
	height: 100%;
	width: 50%;
	color: var(--crimson);

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;

	padding: 0px 10px;
}

.introduction>h1 {
	font-size: 6.5vw;
	color: var(--crimson-dark);
	margin: 0;
}

.introduction>h6 {
	font-size: 1rem;
	margin: 0;
}

.introduction>p {
	font-size: 1.5vw;
	font-style: bold;
	text-align: justify;
	color: var(--rose);
}

.cv-button {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid var(--crimson-dark);
	text-transform: uppercase;
	color: var(--crimson-dark);
	text-decoration: none;
	font-weight: 600;
	font-size: 30px;
	font-family: "Work Sans", sans-serif;
	transition: 0.3s;
	background-color: transparent;
	cursor: pointer;

	margin-top: 40px;
}

.cv-button::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 6px);
	height: calc(100% + 2px);
	background-color: var(--pink);
	transition: 0.3s ease-out;
	transform: scaleY(1);
}

.cv-button::after {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% - 50px);
	background-color: var(--pink);
	transition: 0.3s ease-out;
	transform: scaleY(1);
}

.cv-button:hover::before {
	transform: translateY(-25px);
	height: 0;
}

.cv-button:hover::after {
	transform: scaleX(0);
	transition-delay: 0.15s;
}

.cv-button:hover {
	border: 2px solid var(--crimson-dark);
}

.cv-button .cv-span {
	position: relative;
	z-index: 3;
	text-decoration: none;
	border: none;
	background-color: transparent;
}

.portrait {
	width: 25%;
}

@media (max-width: 800px) {
	.main-content.home{
		flex-direction: column-reverse;
		justify-content: center;
	}

	.introduction{
		justify-content: flex-start;
		width: 100%;
	}

	.portrait{
		width: 40vw;
	}

	.introduction h1{
		font-size: clamp(2.5rem, 10vw, 5rem);
	}

	.introduction h6{
		font-size: clamp(0.2rem, 4vw, 1rem);
	}
	.introduction p{
		font-size: clamp(0.5rem, 4vw, 1rem);
	}

	.cv-button{
		font-size: clamp(1rem, 4vw, 2rem);
	}
}