.language-list {
	margin: 0px 10px;
	color: var(--crimson-dark);
}

.language-list>ul {
	list-style: square;
	font-size: large;
	padding: 0;
	width: 100%;
}

.language-list li {
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 50px;
	padding: 0px;
}

.progress-bar {
	width: 180px;
	height: 22px;
	border-radius: 20px;
	color: var(--crimson);
	border: 2px solid;
	position: relative;
}

.progress-bar::before {
	content: "";
	position: absolute;
	margin: 2px;
	inset: 0 100% 0 0;

	border-radius: inherit;
	background: currentColor;
	animation: l6 2s ease-out 1 forwards;
	/* Run once then stop */
}

@keyframes l6 {
	100% {
		inset: 0 calc(100% - var(--progress)) 0 0;
	}
}

@media (max-width: 1180px) {
    .language-list li {
        width: 90%;          /* shrink li on smaller screens */
        max-width: 400px;    /* optional max width */
    }
}