nav{
	display: flex;
	position: relative;
	height: 100px;
	align-items: flex-end;
}

nav > button{
	font-family: 'Bright', 'sans-serif';
	font-size: x-large;
	padding: 5px 10px;
	flex: 1;
	max-width: 200px;

	border-radius: 15px 15px 0px 0px;
	position: relative;
	margin-left: -15px;

	background-color: var(--crimson);
	color: var(--pink);
	border: 4px solid var(--white);

	transition:
		transform 200ms ease,
		/* background-color 200ms ease, */
		padding-bottom 200ms ease,
		margin-bottom 200ms ease;
}

nav > button:hover{
	cursor: pointer;
	transform: translateY(-12px);
	padding-bottom: 24px;
  	margin-bottom: -12px;
}

.active-page{
	padding-bottom: 24px;
	border-bottom: none;
	background-color: var(--pink);
	color: var(--crimson);
}