.project{
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */

    position: relative;
    padding: 0 4rem;
	
}

.splide__arrow {
  background: var(--crimson);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  opacity: 1;
}

.splide__arrow--prev {
  left: -3.5rem;
}

.splide__arrow--next {
  right: -3.5rem;
}

.project-card{
    background-color: var(--crimson);
    width: 90%;
    height: 70vh;
    border-radius: 5px;
    border: 4px solid var(--crimson);

    position: relative;
}

.project-card h1{
    color: var(--white);
    font-size: 4rem;
    text-align: center;
    margin: 0;
}

.image-container {
  width: 100%;
  height: 50%;
  border: 4px 2px solid var(--crimson);
  overflow: hidden; 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 5px;
  
  /* Optional: Adjust which part of the image is visible first */
  /* object-position: center; */ /* Default value */
  object-position: var(--image-x, 50%) var(--image-y, 50%);
}

.info-container p{
    color: var(--white);
    margin: 5px;
}

.info-container{
    overflow: scroll;
}

.info-container ul{
    color: var(--white)
}

.project-link{
    position: absolute; 
    
    bottom: 0; 
    right: 0;
    padding: 2px 10px;
    font-size: x-large;
}
