section.main-content .swiper-pagination-bullet-active {
  	background: var(--crimson-dark);
}

section.main-content .swiper-button-next{
	color: var(--crimson-dark);
}

section.main-content .swiper-button-prev{
	color: var(--crimson-dark);
}

.project-card{
	background-color: var(--crimson);
	max-width: 85vh;
	height: 70vh;
	border-radius: 5px;
	border: 4px solid var(--crimson);

	display: flex;
	flex-direction: column;

	margin: 25px 50px;
	position: relative;
}

.project-card h1{
	color: var(--white);
	font-size: clamp(2rem, 4vw, 3.5rem);
	text-align: center;
	margin: 0;
}

.image-container {
	width: 100%;
	height: 40%;
	border: 4px 2px solid var(--crimson);
	overflow: visible; 
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	border-radius: 5px;
	aspect-ratio: 16/9;
	object-position: var(--image-x, 50%) var(--image-y, 50%);
}

.info-container p{
	color: var(--white);
	margin: 5px;
	font-size: clamp(0.8rem, 4vw, 1rem);
}

.info-container{
	overflow: auto;
	max-height: 50%;
}

.info-container ul{
	color: var(--white);
	font-size: clamp(0.8rem, 4vw, 1rem);
}

.project-link{
	position: absolute; 
	
	bottom: 0; 
	right: 0;
	padding: 2px 10px;
	font-size: x-large;
}
