:root{
	--white: #f7eeed;
	--pink: #fcc0c5;
	--crimson: #b84c65;
	--crimson-dark: #a03c53;
	--rose: #a4133c;
}

.work-sans-p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bright';
  src: url('./assets/font/Bright.otf');
}

body{
	font-family: 'Bright', 'sans-serif';
	background-color: var(--white);
	margin: 0;
	padding: 0;
}

.page {
  position: relative;
}

.main-content{
	margin: 0;
	background-color: var(--pink);
	height: 80vh;
	overflow: scroll;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.main-content > h1{
	margin: 0;
}