:root{
	--white: #f7eeed;
	--pink: #fcc0c5;
	--crimson: #b84c65;
}

@font-face {
  font-family: 'Bright';
  src: url('./assets/font/Bright.otf');
}

body{
	font-family: 'Bright', 'sans-serif';
	background-color: var(--white);
	margin: 0;
	padding: 0;
}

.page {
  position: relative;
}

nav{
	display: flex;
	/* margin-top: 30px; */
	position: relative;
	height: 100px;
	align-items: flex-end;
}

nav > button{
	font-family: 'Bright', 'sans-serif';
	font-size: xx-large;
	padding: 5px 10px;
	flex: 1;
	max-width: 200px;

	border-radius: 15px 15px 0px 0px;
	position: relative;
	margin-left: -15px;

	background-color: var(--crimson);
	color: var(--pink);
	border: 4px solid var(--white);

	transition:
		transform 200ms ease,
		background-color 200ms ease,
		padding-bottom 200ms ease,
		margin-bottom 200ms ease;
}

nav > button:hover{
	cursor: pointer;
	transform: translateY(-12px);
	padding-bottom: 20px;
  	margin-bottom: -12px;
}

.active-page{
	border-bottom: 4px solid var(--pink);
	background-color: var(--pink);
	color: var(--crimson);
}

.main-content{
	margin: 0;
	background-color: var(--pink);
	height: 85vh;
}

.main-content > h1{
	margin: 0;
}